<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headless WP</title>
</head>
<body>
    
    Welcome!
    
    <ul>
        <li><%= link_to "Recent Posts", "/api/posts" %></li>
    </ul>
    
</body>
</html>